@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "BecomeSeller";
}
@section Page_Level_Css{
    <link href="~/Content/assets/CustomCss/newstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .blog-description {
            padding: 20px;
            color: black !important;
        }

        .section-tb-padding {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .profile {
            position: sticky;
            top: 108px;
            z-index: 1;
            background-color: #fff;
            padding: 10px;
        }

        .order-info {
            margin-left: 250px;
        }
    </style>
}
<section class="home-about section-tb-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home-about-area">
                    <div class="about-image">
                        <span>
                            <img src="~/Content/assets/Custom_Image/BecomeSeller.jpg" class="img-fluid" alt="image">
                        </span>
                    </div>
                    <div class="about-text">
                        <span class="sub-title">Become Seller</span>
                        <h1 class="title">
                            <span class="bold-text">Sell Product</span>
                            <span>Across World Wide</span>
                        </h1>
                        <p class="description">More than 15 Lakh+ Happy Seller Who Sell Their Product All Over The World</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="order-histry-area section-tb-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="order-history">
                    <div class="profile">

                        <div class="order-his-page" style="position:sticky;">
                            <ul class="profile-ul">
                                <li class="profile-li"><a href="#CreateAccount" class="active"><span>Create Account</span></a></li>
                                <li class="profile-li"><a href="#ListYourProduct">List Your Product</a></li>
                                <li class="profile-li"><a href="#StorageAndShipping">Storage And Shipping</a></li>
                                <li class="profile-li"><a href="#ReceivePayment"><span>Receive Payment</span></a></li>
                                <li class="profile-li"><a href="#GrowFasterWithUs"><span>Grow Faster With Us</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-info">
                        <section id="CreateAccount" class="section">
                            <div class="blog-content">

                                <div class="blog-title">
                                    <h5>
                                        Create Account
                                    </h5>
                                </div>
                                <p class="blog-description">
                                    Creating your seller account is a quick process, taking less than 10 minutes, and requires only 3 documents. Follow the checklist to ensure a seamless account creation experience. By having these documents ready, you can streamline the account creation process and get started as an online seller in no time.
                                </p>

                                <p class="blog-description">
                                    We offers a diverse range of over 3000+ categories where you can sell your products. These categories represent just a fraction of the wide variety available here, providing ample opportunities for sellers to showcase their products to a large customer base.
                                </p>
                                <p class="blog-description" id="showcategory">
                                    Popular Categories to sell across:
                                </p>
                                <section class="footer-10 section-tb-padding categorylist" style=" padding-top: 10px; padding-bottom: 10px;">

                                    <div class="container-fluid">

                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <ul class="footer-ul">
                                                    <li class="footer-li footer-url">

                                                        <ul class="collapse menu-ul" id="title1">
                                                            <li class="menu-li">
                                                                <a href="#">Sell Mobile Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Clothes Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Sarees Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Electronics Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Women Clothes Online</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <ul class="footer-ul">
                                                    <li class="footer-li footer-url">

                                                        <ul class="collapse menu-ul" id="title1">
                                                            <li class="menu-li">
                                                                <a href="#">Sell Shoes Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Jewellery Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Tshirts Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Furniture Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Makeup Online</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <ul class="footer-ul">
                                                    <li class="footer-li footer-url">

                                                        <ul class="collapse menu-ul" id="title2">
                                                            <li class="menu-li">
                                                                <a href="#">Sell Paintings Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Watch Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Books Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Home Products Online</a>
                                                            </li>
                                                            <li class="menu-li">
                                                                <a href="#">Sell Toys Online</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <section class="section-tb-padding pro-page section" id="ListYourProduct">

                            <div class="blog-title">
                                <h5>
                                    List Products
                                </h5>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="row pro-image">
                                        <div class="col-xl-7 col-lg-6 col-md-6 col-12 pro-info">


                                            <p class="blog-description">
                                                What is a listing? A listing refers to the process of registering your product on
                                                our platform, making it visible to customers, and enabling them to view and purchase
                                                your product. It involves creating a detailed product page that includes essential information
                                                such as product title, description, images, pricing, and other relevant details. A well-crafted listing
                                                helps attract potential customers and facilitates the sale of your product on our site.
                                            </p>
                                            <p class="blog-description">
                                                <i class="fa-regular fa-2x fa-lightbulb" style="color:gold;"></i>
                                                Did you know that providing precise and comprehensive information about your product,
                                                along with clear and captivating images, can
                                                increase its visibility on our platform by up to 15%.
                                            </p>

                                        </div>
                                        <div class="col-xl-5 col-lg-6 col-md-6 col-12 larg-image">
                                            <div class="tab-content">

                                                <div class="tab-pane fade show active" id="image-77">
                                                    <a href="javascript:void(0)" class="long-img">

                                                        <img src="~/Content/assets/Custom_Image/BecomeSeller.jpg" class="img-fluid" alt="image">

                                                    </a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </section>
                        <section class="section-tb-padding pro-page section" id="StorageAndShipping" style="padding-top:0;">

                            <div class="blog-title">
                                <h5>
                                    Storage And Shipping
                                </h5>
                            </div>
                            <div class="row pro-image">
                                <div class="col-12 pro-info">


                                    <p class="blog-description">
                                        Congratulations on receiving your first order! When it comes to shipping your products to customers, We understands the importance of fast and reliable delivery in secure packaging.
                                    </p>
                                    <p class="blog-description">Assured by Us is an exclusive reliability program designed to offer additional visibility and benefits to your products. By participating in Assured, your products undergo extra quality checks and are guaranteed to be delivered within 2-4 days of ordering. The Assured tag not only ensures faster delivery but also brings increased visibility, higher quality, and more orders for your products. It serves as seal of trust, emphasising reliability and speed. Earning the Assured badge can lead to higher revenue and garner greater trust from customers, enhancing your overall online selling experience with Us</p>
                                </div>


                            </div>

                        </section>

                        <section class="section-tb-padding pro-page section" id="ReceivePayment" style="padding-top:0;">
                            <div class="blog-title">
                                <h5>
                                    Receive Payment
                                </h5>
                            </div>
                            <div class="row pro-image">
                                <div class="col-12 pro-info">


                                    <p class="blog-description">With a customer base of over 45 crore+ on Our Platform, you can expect orders from customers across India. To ensure your convenience, We ensures timely payments directly into your registered bank account, which you provided during the account creation process. You can receive your payments as fast as 7 days* from the date of dispatch, enabling you to manage your cash flow efficiently and focus on growing your business.</p>


                                </div>


                            </div>

                        </section>

                        <section class="section-tb-padding pro-page section" id="GrowFasterWithUs" style="padding-top:0;">
                            <div class="blog-title">
                                <h5>
                                    Grow Faster With Us
                                </h5>
                            </div>
                            <div class="row pro-image">
                                <div class="col-12 pro-info">


                                    <p class="blog-description">Here, we recognize that there may be times when you require additional assistance for your online business. That's why, with your seller account, you gain access to a diverse range of tools and support functions designed to foster business growth. .</p>


                                </div>


                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function checkScreenWidth() {
        var showCategory = document.getElementById('showcategory');
        var categoryList = document.getElementsByClassName('categorylist')[0];

        if (window.innerWidth <= 768) {
            showCategory.style.display = 'none';
            if (categoryList) {
                categoryList.style.display = 'none';
            }
        } else {
            showCategory.style.display = 'block';
            if (categoryList) {
                categoryList.style.display = 'block';
            }
        }
    }

    window.addEventListener('resize', checkScreenWidth);
    window.addEventListener('load', checkScreenWidth);
</script>
@*<script>
        document.querySelectorAll('.profile-li a').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                // Remove 'active' class from all links
                document.querySelectorAll('.profile-li a').forEach(anchor => {
                    anchor.classList.remove('active');
                });

                // Add 'active' class to the clicked link
                this.classList.add('active');

                // Scroll to the target element
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    const elementRect = targetElement.getBoundingClientRect();
                    const elementY = elementRect.top + window.scrollY;
                    const offsetY = window.innerHeight / 2 - elementRect.height / 2;
                    window.scrollTo({
                        top: elementY - offsetY,
                        behavior: 'smooth'
                    });
                }
            });
        });
    </script>*@


<script>
    // Function to handle scroll and set active class
    function handleScroll() {
        const sections = document.querySelectorAll('.section');
        const windowHeight = window.innerHeight;
        const scrollPosition = window.scrollY + windowHeight / 2;

        let closestSection = null;
        let minDistance = Infinity;

        sections.forEach(section => {
            const rect = section.getBoundingClientRect();
            const sectionCenter = rect.top + window.scrollY + rect.height / 2;
            const distance = Math.abs(scrollPosition - sectionCenter);

            if (distance < minDistance) {
                minDistance = distance;
                closestSection = section;
            }
        });

        if (closestSection) {
            document.querySelectorAll('.profile-li a').forEach(anchor => {
                anchor.classList.remove('active');
            });
            const activeLink = document.querySelector(`.profile-li a[href="#${closestSection.id}"]`);
            if (activeLink) {
                activeLink.classList.add('active');
            }
        }
    }

    // Smooth scroll function
    function smoothScroll(targetId) {
        const targetElement = document.getElementById(targetId);
        if (targetElement) {
            const elementRect = targetElement.getBoundingClientRect();
            const elementY = elementRect.top + window.scrollY;
            const offsetY = window.innerHeight / 2 - elementRect.height / 2;
            window.scrollTo({
                top: elementY - offsetY,
                behavior: 'smooth'
            });

            // Set active class after scrolling
            document.querySelectorAll('.profile-li a').forEach(anchor => {
                anchor.classList.remove('active');
            });
            const activeLink = document.querySelector(`.profile-li a[href="#${targetId}"]`);
            if (activeLink) {
                activeLink.classList.add('active');
            }
        }
    }

    document.querySelectorAll('.profile-li a').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const targetId = this.getAttribute('href').substring(1);
            smoothScroll(targetId);
        });
    });

    window.addEventListener('scroll', handleScroll);

    // Initial call to handleScroll to set the correct active link on page load
    handleScroll();
</script>